<tr class="active <%= cycle("odd", "even") %>">
  <td class='compare'>
    <%= check_box_tag :compare %>
  </td>

  <td class='hidden'>
    0
  </td>

  <td class='name'>
    <%= weapon.name %>
  </td>

  <td class="tier hide_on_small <%= weapon.tier_type_name %>">
    <span class='hidden'><%= weapon.tier_type %></span>
    <%= link_to weapon.tier_type_name.first, weapon_image(weapon) %>
  </td>

  <% weapon.values.order(:stat_hash).each do |value| %>
    <%= stat_row(value) %>
  <% end %>
</tr>
