<tr class="active <%= cycle("odd", "even") %>">
  <td class='compare'>
    <%= check_box_tag :compare %>
  </td>

  <td class='hidden'>
    0
  </td>

  <td class='name'>
    <span class='hidden'><%= weapon.name %></span>
    <%= armory_link weapon  %>
  </td>

  <td class="tier hide_on_small <%= weapon.tier %>">
    <span class='hidden'><%= weapon.tier_number %></span>
    <%= link_to weapon.tier.first, weapon_image(weapon) %>
  </td>

  <%= stat_row weapon, :attack, class: 'stat hide_on_small' %>

  <%# Rocket launchers have velocity and blast radius, others impact and range %>
  <% if params[:type] == 'rocket_launchers' %>
    <%= stat_row weapon, :velocity %>
    <%= stat_row weapon, :blast_radius %>
  <% else %>
    <%= stat_row weapon, :impact %>
    <%= stat_row weapon, :range %>
  <% end %>

  <%= stat_row weapon, :stability %>

  <%# Fusion rifles have charge rate, others rate of fire %>
  <% if params[:type] == 'fusion_rifles' %>
    <%= stat_row weapon, :charge_rate %>
  <% else %>
    <%= stat_row weapon, :rate_of_fire %>
  <% end %>

  <%= stat_row weapon, :aim_assistance %>
  <%= stat_row weapon, :magazine, class: 'stat hide_on_small' %>
  <%= stat_row weapon, :reload_speed, class: 'stat hide_on_medium' %>
  <%= stat_row weapon, :equip_speed, class: 'stat hide_on_medium' %>
</tr>
