<%= form_tag weapons_index_path, method: :get do %>
  <%= label_tag :type, 'Select weapon type' %>
  <%= select_tag :type, weapon_type_options(params[:type]), onchange: 'submit();' %>
  <%= submit_tag 'Search', class: 'hide' %>
<% end %>

<% cache ['v1', cache_key_for_weapons, params] do %>
  <table class='center'>
    <%= render 'header' %>

    <% @weapons.each do |weapon| %>
      <%= render partial: 'row', locals: { weapon: weapon } %>
    <% end %>

  </table>
<% end %>
