<div class='topnav'>
  Showing
  <%= select_tag :type, weapon_type_options(params[:type]) %>
  with
  <%= select_tag :value, weapon_value_options %>
  <%= button_tag "Compare", id: :weapon_compare, class: :on %>
  <%= button_tag "Compare", id: :weapon_compare_off, class: "hidden off" %>
</div>

<% cache ['v2', cache_key_for_weapons, params[:type]] do %>
  <table class='center' id='weapons'>
    <%= render 'header' %>

    <tbody>
      <%= render partial: "weapon", collection: @weapons %>
    </tbody>
  </table>
<% end %>

<%= render 'footer' %>
