<%= form_tag weapons_path, method: :get, enforce_utf8: false do %>
  <%= label_tag :type, 'Select weapon type' %>
  <%= select_tag :type, weapon_type_options(params[:type]) %>
  <%= submit_tag 'Search', class: 'hide' %>
<% end %>

<%= button_tag :compare, id: :weapon_compare %>
<%= button_tag :compare_off, id: :weapon_compare_off, class: :hidden %>

<% cache ['v2', cache_key_for_weapons, params[:type]] do %>
  <table class='center' id='weapons'>
    <%= render 'header' %>

    <tbody>
      <%= render partial: "weapon", collection: @weapons %>
    </tbody>
  </table>
<% end %>
